
src/data_files/ratings_small.csv
src/data_files/movies_metadata.csv
src/data_files/ratings.csv
src/data_files/links_small.csv
src/data_files/links.csv
src/data_files/keywords.csv
src/data_files/credits.csv
venv/*
